NEXT_PUBLIC_API_URL="http://localhost:3001/api/v1"
NEXT_PUBLIC_PUSHER_KEY="your-pusher-key"
NEXT_PUBLIC_PUSHER_CLUSTER="mt1"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_GA_ID="G-H11PK0TB95"
NEXT_PUBLIC_CLARITY_ID="xxv6e1fn77"
NEXT_PUBLIC_SENTRY_DSN="your-sentry-frontend-dsn"
NEXT_PUBLIC_VAPID_PUBLIC_KEY="your-vapid-public-key"

